{
  "extends": "airbnb",
  "rules": {
    "array-callback-return": 1,
    "react/forbid-prop-types": 1,
    "react/jsx-filename-extension": 0
  },
  "parserOptions": {
    "ecmaVersion": 2015,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "globals": {
    "alert": true,
    "document": true,
    "window": true
  }
}
