* {
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  color: #333;
}

body,
button,
input,
textarea {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

button,
button:hover {
  background: none;
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 100%;
}

ul,
li {
  list-style: none;
}

.app__btn,
.app__btn-active,
.app__btn-inactive,
.app__btn-primary {
  border: 1px solid transparent;
  -webkit-border-radius: 2px; 
  -moz-border-radius:    2px;
  border-radius:         2px;
  font-weight: 400;
}

.app__btn-active,
.app__btn-active:hover,
.app__btn-primary {
  background-color: #0275d8;
  border-color: #0275d8;
  color: #fff;
}

.app__btn-primary:hover {
  background-color: #025aa5;
  border-color: #01549b;
}

.app__btn-inactive,
.app__btn-inactive:hover {
  background-color: #f4f4f4;
}

.app__clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.app__h1 {
  padding: 20px 0;
}

.app__h3 {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 15px;
  padding: 5px 0;
}

.app__h3 a {
  color: #0275d8;
  text-decoration: none;
}

.app__h3 a:hover {
  color: #025aa5;
}

.app__inner {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: 85%;
}

.app__table {
  margin-bottom: 15px;
}

.app__table tr {
  font-size: 15px;
}

.app__td {
  font-size: 13.5px;
  padding: 7px;
}

.app__th {
  padding: 10px 5px;
}

.app__tr:nth-child(odd) {
  background-color: #f4f4f4;
}

.audit-form__container {
  background: #f4f4f4;
  padding-bottom: 40px;
}

.audit-form__css {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  height: 400px;
  float: left;
  font-size: 14px;
  margin-bottom: 30px;
  padding: 15px;
  resize: vertical;
  width: 50%;
}

.audit-form__btns {
  clear: both;
}

.audit-form__submit-btn {
  font-size: 20px;
  letter-spacing: .6px;
  padding: 10px 20px;
}

.browser-scope__browser-item {
  display: block;
  font-size: 14px;
  margin-bottom: 15px;
  width: 45%;
}

.browser-scope__browser-item:nth-child(odd) {
  float: left;
}

.browser-scope__browser-item:nth-child(even) {
  float: right;
}

.browser-scope__browsers-list {
  text-align: left;
}

.browser-scope__checkbox {
  margin-right: 15px;
}

.browser-scope__container {
  float: right;
  width: 45%;
}

.browser-scope__target-browsers {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.browser-selector__browser-name {
  cursor: pointer;
}

.browser-selector__checkbox {
  margin-right: 15px;
}

.browser-selector__versions-list {
  background: #eee;
  padding: 15px 0 30px 30px;
}

.browser-selector__version-item {
  display: inline-block;
  font-size: 14px;
  padding: 5px 0;
  width: 25%;
}

.feature-declarations__td {
  width: 50%;
}

.feature-declarations__toggle-btn {
  background: none;
  color: #0275d8;
  display: block;
  font-size: 12px;
  margin: 0 auto;
  text-align: center;
}

.feature-supports__td {
  width: 33.3%;
}

.features-list__feature-item {
  margin-bottom: 30px;
}

.features-summary__btn {
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
  padding: 2px 0;
  width: 125px;
}

.features-summary__btns {
  position: absolute;
  right: 0;
  top: 13px;
}

.features-summary__heading {
  padding: 20px 0;
  position: relative;
  text-align: center;
}

.modal__container {
  background: #fff;
  -webkit-border-radius: 2px; 
  -moz-border-radius:    2px;
  border-radius:         2px;
  left: 50%;
  max-height: 100%;
  max-width: 100%;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.modal__overlay {
  background-color: rgba(0,0,0,0.4);
  bottom: 0;
  height: 100%;
  left: 0;
  margin: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.version-selector__container {
  height: 60vh;
  width: 50vw;
  overflow: auto;
}
